{% extends 'checkin.html.twig' %}

{% block sbtheme_scancontainer %}

  <div class="col-sm-12 m-t-10 no-padding">
        <div class="col-sm-5">
            <h5 class="no-margins semi-bold p-t-10">Enter Product Tag</h5>
            <input type="hidden" value="{{ container.nid.0.value }}" id="warehouse-container-nid">
            <input type="hidden" value="{{ container.title.0.value }}" id="warehouse-container-id">
            <label for="" class="control-label"></label>
            <input type="text" value="{{ product_identifier }}" id="warehouse-checkin-product-scan" class="form-text form-control">
            <input type="hidden" id="pid" value="{{ product_block.pid }}">
        </div>
        <div class="col-sm-1">
            <span id="spinner-holder" class="hidden"><img src="/themes/studiobridge/images/spinner.gif"></span>
        </div>

  </div>

{% endblock %}


{% block sbtheme_product %}

            <div class="col-sm-12 p-sm border-bottom">
              <h5 class="semi-bold m-b-sm">Product Information</h5>

                    <div class="col-lg-6">
                        <dl class="dl-horizontal">
                          <dt>Concept </dt>
                          {% if (form.productdetails['#concept'] == 'Unmapped' or form.productdetails['#concept'] == '') %}
                              <dd id="dd-concept"><span class="bold">Not Available</span></dd>
                          {% else %}
                              <dd id="dd-concept" class="mb-10"><img
                                          src="/sb/{{ directory }}/images/brands/brand_logo_{{ form.productdetails['#concept']|lower }}.png"
                                          height="20px"></dd>
                          {% endif %}
                            <dt>Identifier</dt>
                            <dd id="dd-identifier">{{ form.productdetails['#identifier'] }}</dd>
                            <dt>Style No</dt>
                            <dd id="dd-styleno">{{ form.productdetails['#styleno'] }}</dd>


                            <dt>Description</dt>
                            <dd id="dd-description">{{ form.productdetails['#description'] }}</dd>
                        </dl>
                    </div>
                    <div class="col-lg-6">
                        <dl class="dl-horizontal">
                          <dt>Color Variant</dt>
                          <dd><strong id="dd-colorvariant">{{ form.productdetails['#colorvariant']|raw }}</strong></dd>
                            <dt>Gender</dt>
                            <dd><strong id="dd-gender">{{ form.productdetails['#gender'] }}</strong></dd>
                            <dt>Color</dt>
                            <dd id="dd-color">{{ form.productdetails['#color'] }}</dd>

                        </dl>
                    </div>
                    <div class="col-lg-12">
                      <a class="btn btn-xs border-red txt-color-red studio-product-drop pull-right" id="warehouse-drop-product">Drop Product</a>
                      <a class="btn btn-xs border-blue text-complete studio-product-flag pull-right mr-5" id="warehouse-flag-product">Flag Product</a>
                    </div>
                </div>


{% endblock %}

{% spaceless %}
    {% block sbimages %}


        {% for image in form.images['#images'] %}

            {% if not image.fid == '' %}

                <div class="bulkviewfiles imagefile" id="warpper-img-{{ image.fid }}">
                    {% if image.tag == '1' %}
                    <div class="ribbon" id="ribboncontainer"><span class="for-tag tag" id="seq-{{ image.fid }}" name="{{ image.id }}"><i class="fa fa-lg fa-barcode txt-color-white"></i></span></div>
                    {% else %}
                    <div class="ribbon" id="ribboncontainer"><span class="for-tag" id="seq-{{ image.fid }}" name="{{ image.id }}">{{ image.id }}</span></div>
                    {% endif %}

                    <div class="scancontainer">
                      <div class="hovereffect">
                        <img src="{{ image.url }}" class="scanpicture"  data-imageid="{{ image.fid }}">

                        <div class="overlay">
                            <input type="checkbox" class="form-checkbox" id="del-img-{{ image.fid }}" hidden value="{{image.fid}}">
                           <a class="info select-delete" data-id="{{ image.fid }}" data-click="no">Select image</a>
                        </div>
                    </div>

                    <div class="file-name">
                        <div id="tag-seq-img-{{ image.fid }}" type="hidden"></div>

                        <div class="row">

                            <div class="col-sm-12">
                            <span  id = {{ image.fid }}>
                                <a target="_blank" href="/file/{{ image.fid }}" class="col-sm-4 text-info"><i class="fa fa-lg fa-fw fa-search"></i></a>
                                <a class="col-sm-4 studio-img-fullshot text-info"><i class="fa fa-lg fa-fw fa-copy"></i></a>
                                <a class=" col-sm-4 studio-img-tag text-info" ><i class="fa fa-lg fa-fw fa-barcode"></i></a>

                            </span>

                            </div>

                        </div>

                    </div>
                  </div>
                    <div class="studio-img-weight"><input type="hidden" value="{{ image.fid }}"></div>
                </div>
            {% endif %}
        {% endfor %}

    {% endblock sbimages %}
{% endspaceless %}

{% block sidepanel %}
<div class="panel panel-default">
  <div class="panel-body">


        <div  class="row">
                  <div class="col-sm-6">
                    <h5 class="semi-bold">Received</h5>
                    <h1 class="m-xs no-of-products"><span id="session-total-products">{{ form.productdetails['#total_products'] }}</span></h1>
                  </div>
                  <div class="col-sm-6">
                    <h5 class="semi-bold">Expected</h5>
                    <h1 class="m-xs no-of-products" id="liveshoot-Unmapped">{{ form.productdetails['#unmapped_products']|length >0 ? form.productdetails['#unmapped_products'] : '0' }}</h1>
                  </div>

        </div>

        <hr class="simple" style="margin-bottom: 5px !important;">

            <div class="row">
              <div class="col-sm-12 p-b-n m-b-n">
                <h5 class="bold">Container ID</h5>
              </div>

              <div class="col-sm-9">
              <h5><a href="/container/view/{{ container.nid.0.value }}">{{ container.nid.0.value }}</a></h5>
            </div>
            <div class="col-sm-3 m-t-sm m-b-md">
              <a class="btn btn-xs border-blue text-complete studio-product-drop pull-right" id="container-finish">Finish</a>
            </div>

              <table class="table table-stripped small no-margins no-padding">
                <tbody>

                  <tr class="no-margins no-padding text-danger border-bottom-dotted">
                    <td>
                      <h5 class="no-margins ">Unmapped</h5>
                    </td>
                    <td class="pull-right">
                      <h5 class="no-margins semi-bold">6</h5>
                    </td>
                  </tr>

                                  </tbody>
              </table>
            </div>

</div></div>

{% endblock sidepanel %}
