
<div class="row">
  <div class="col-sm-12 col-md-12">
    <h3 class="no-margins p-b-sm"><span>Products</span></h3>
    <h4 class="no-margins">View or search photographed products</h4>
  </div>

</div>
<hr class="simple">

<div class="panel panel-default">
  <div class="">
    <div class="panel-body" style="padding-left:0px !important;">
        <div id="dt_viewsessions_filter" class="col-sm-5 search-container">
              <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control inputs" placeholder="What are you looking for?" id="dt_search_box">


      </div>

        </div>
        <div class="col-sm-4">
      <button type="button" id="btn_search_reset" class="btn">Clear</button>
        </div>

    </div>
  </div>
</div>
<div class="panel panel-default">
  <!-- NEW COL START -->
  <article class="m-sm">
    <table id="dt_viewproducts" class="table table-responsive table-hover" width="100%">

      <thead>
        <th>ID</th>
        <th>Concept</th>
        <th>Identifier</th>
        <th>Color Variant</th>
        <th class="no-sort">Total Images</th>
        <th class="no-sort"></th>
      </thead>

      <tbody>


        {% for result in results %}




        <tr>
          {% if result.field_images | length == 0 %}
          {% set image_count_class = 'bold text-warning' %}
          {% elseif result.field_images | length >= 7 %}
          {% set image_count_class = 'bold text-warning' %}
          {% else %}
          {% set image_count_class = 'bold text-info' %}
          {% endif %}
          <td>{{ result.nid.0.value }}</td>
          <td>
            {% if result.field_concept_name.0.value == '' %}
            Not Available
            {% else %}
            <img src="/{{directory}}/images/brands/brand_logo_{{result.field_concept_name.0.value|lower|replace({" ": ""})}}.png" height="20px">
            <span style="display:none;">{{result.field_concept_name.0.value}}</span>
            {% endif %}
          </td>
          <td>{{ result.title.0.value }}</td>

          {#<td>{{ result.field_color_variant.0.value }}</td>#}

            {% if result.field_color_variant.0.value is empty  %}

                <td></td>

            {% else %}

                <td>{{ result.field_color_variant.0.value }}</td>

            {% endif %}

          <td class="{{ image_count_class }}">{{ result.field_images|length }}</td>
          <td>
            <a class="btn btn-xs " href="/view-product/{{ result.nid.0.value }}">View</a>
          </td>

        </tr>

        {% endfor %}


      </tbody>
    </table>

  </article>
  <!-- END COL -->
</div>
