
{# calculate counts adjusted for drops #}
{% set adjusted_mapped = mapped_products | length - mapped_dropped_products | length %}
{% set adjusted_unmapped = unmapped_products | length - unmapped_dropped_products | length %}
{% set total_dropped = drops | length %}

{% set total_count = adjusted_mapped + adjusted_unmapped + total_dropped %}

{% if session.field_status.0.value == 'open' and total_count == 0  %}
{% set status_class = '<span class="text-success"><i class=""></i> Session has started</span>' %}
{% elseif session.field_status.0.value == 'open' and total_count > 0   %}
{% set status_class = '<span class="text-success"><i class=""></i> Importing products in session</span>' %}
{% endif %}

{% if session.field_status.0.value == 'pause' and total_count == 0  %}
{% set status_class = '<span class="text-warning"><i class=""></i> Session is paused</span>' %}
{% endif %}

{% if session.field_status.0.value == 'closed' and total_count == 0  %}
{% set status_class = '<span class="text-danger"><i class=""></i> Session Cancelled</span>' %}
{% elseif session.field_status.0.value == 'closed' and unmapped_products|length > 0   %}
{% set status_class = '<span class="text-danger"><i class=""></i>'~ unmapped_products|length ~' items are unmapped</span>' %}
{% elseif session.field_status.0.value == 'closed' and unmapped_products|length == 0  and total_count > 0 %}
{% set status_class = '<span class="text-success"><i class=""></i> Session Complete</span>' %}
{% endif %}


{#Header#}
<div class="row">
  <div class="col-sm-12 col-md-8">
    <h3 class='no-margins p-b-sm'>Session Details</h3>
    <h4 class="no-margins">View all primary details of your session</h4>
  </div>
  <div class="col-sm-12 col-md-4 m-t-md p-r-35">
    {% if session.field_status.0.value == 'open' %}
    <a class="btn btn-primary btn-cons pull-right" id="import-products" data-id="{{total_count}}">
      Add Products</a>
      {% endif %}
    </div>
  </div>

  <hr class="simple">
  <div class="row ">

    <div class="col-lg-8">
      <div class="panel panel-default equalheight">
        <div class="panel-body p-xs-imp m-t-5">
          <div class="col-sm-12 no-margins no-padding ">
            <div class="col-sm-5">
              <address>
                <strong class="text-success">{{status_class|raw}}</strong><br>
                <small class="text-muted"><em>Started at {{session.created.0.value|date('F jS, Y, g:i a')}}</em></small>
              </address>

            </div>
            <div class="col-sm-7">
              <span class="pull-right">

                <h3 class="no-margins ">{{session_time}}</h3>
                <h6 class="no-margins no-padding">Total Session Time</h6>
              </span>
              <span class="pull-right  m-r-md">
                {% if  session.field_status.0.value == 'open' %}
                <a id="close-session" class="btn btn-sm border-blue text-complete" data-id="{{ session.nid.0.value }}">Finish</a>
                {% endif %}
              </span>
              <span class="pull-right  m-r-sm">
                {% if session.field_status.0.value == 'open' %}
                <a id="pause-session" class="text-info btn btn-sm">Pause</a>
                {% endif %}
              </span>

            </div>
          </div>

          <div class="col-sm-12 no-margins no-padding p-t-20">
            <div class="col-sm-8">
              <div class="col-sm-4 m-l-n">
                <h5 class="m-sm">ID</h5>
                <h3 class="m-sm">{{ session.nid.0.value }}</h3>
              </div>

              <div class="col-sm-4">
                <h5 class="m-sm">Products</h5>
                <h3 class="m-sm">{{adjusted_mapped + adjusted_unmapped}}</h3>
              </div>

              <div class="col-sm-4">
                <h5 class="m-sm">Shoot Class</h5>
                <h3 class="m-sm">{{ session.field_shoot_class.0.value|title|replace({'_': ' '}) }}</h3>
              </div>
            </div>
            <div class="col-sm-4">
              <table class="table table-stripped small no-margins no-padding">
                <tbody>
                  {% if unmapped_products|length > 0 %}

                  <tr class="no-margins no-padding text-danger border-bottom-dotted">
                    <td>
                      <h5 class="no-margins ">Unmapped</h5>
                    </td>
                    <td class="pull-right">
                      <h5 class="no-margins semi-bold">{{unmapped_products|length}}</h5>
                    </td>
                  </tr>
                  {% endif %}
                  {% for item in grouped_concepts %}
                  <tr class="no-margins no-padding border-bottom-dotted">
                    <td>
                      <h5 class="no-margins ">{{item.concept|title}}</h5>
                    </td>
                    <td class="pull-right">
                      <h5 class="no-margins semi-bold">{{item.product_count}}</h5>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="panel panel-default equalheight">

        <div class="panel-heading">
          <div class="panel-title">CONTRIBUTORS
          </div>

        </div>

        <div class="panel-body p-xs-imp m-t-n">
          {% if not session_users.photographer == ''%}
          <div class="col-sm-6 no-padding">
            <div class="social-avatar">
              <a href="" class="pull-left">
                <img src="/{{directory}}/images/users/{{session_users.photographer|lower|replace({".": "_" , " " : "_"})}}.jpg" class="img-circle" alt="{{session_users.photographer|title}}">
              </a>
              <div class="media-body p-xs">
                <h6 class="no-margins bold">
                  {{session_users.photographer|replace({".": " " , "_" : " "})|title}}
                </h6>
                <small class="text-muted">Photographer</small>
              </div>
            </div>
          </div>
          {% endif %}
          {% if not session_users.stylist == ''%}
          <div class="col-sm-6 no-padding">
            <div class="social-avatar">
              <a href="" class="pull-left m-r-5">
                <img src="/{{directory}}/images/users/{{session_users.stylist|lower|replace({".": "_" , " " : "_"})}}.jpg" class="img-circle" alt="{{session_users.stylist|title}}">
              </a>
              <div class="media-body p-xs">
                <h6 class="no-margins bold">
                  {{session_users.stylist|replace({".": " " , "_" : " "})|title}}
                </h6>
                <small class="text-muted">Stylist</small>
              </div>
            </div>
          </div>
          {% endif %}
          {% if not session_users.vm == ''%}
          <div class="col-sm-6 no-padding">
            <div class="social-avatar">
              <a href="" class="pull-left">
                <img src="/{{directory}}/images/users/{{session_users.vm|lower|replace({".": "_" , " " : "_"})}}.jpg" class="img-circle" alt="{{session_users.vm|title}}">
              </a>
              <div class="media-body p-xs">
                <h6 class="no-margins bold">
                  {{session_users.vm|replace({".": " " , "_" : " "})|title}}
                </h6>
                <small class="text-muted">Visual Merchandiser</small>
              </div>
            </div>
          </div>
          {% endif %}
          {% if not models.0.nid == ''%}
          <div class="col-sm-6 no-padding">
            <div class="social-avatar">
              <a href="" class="pull-left m-r-5">
                <img src="{{models.0.model_image_path}}" class="img-circle" alt="{{session_users.stylist|title}}">
              </a>
              <div class="media-body p-xs">
                <h6 class="no-margins bold">
                  {{models.0.model_name}}
                </h6>
                <small class="text-muted">Model</small>
              </div>
            </div>
          </div>
          {% endif %}
        </div>

      </div>
    </div>

  </div>
</div>

<div class="row p-t-10">
  <div class="col-lg-12">
    <ul class="nav nav-tabs ">

      <li class="active">
        <a href="#tab-mapped" data-toggle="tab" aria-expanded="false">Mapped
          <span class=" label label-success semi-bold">{{ adjusted_mapped }}</span>
        </a>
      </li>
      <li class="">
        <a href="#tab-unmapped" data-toggle="tab" aria-expanded="false">Unmapped
          <span class="p-t-5 label label-danger semi-bold">{{ adjusted_unmapped }}</span>
        </a>
      </li>
      <li class="">
        <a href="#tab-dropped" data-toggle="tab" aria-expanded="false">Dropped
          <span class="label label-warning semi-bold">{{total_dropped}}</span>
        </a>
      </li>
      <li class="">
        <a href="#tab-reports" data-toggle="tab" aria-expanded="false">Report(s)</a>
      </li>
      <li class="">
        {% if user.hasPermission('administrator') == true %}
        <a href="#tab-analysis" data-toggle="tab" aria-expanded="true" id="tab-analysis-tab">Analysis</a>
        {% endif %}

      </li>

    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="tab-mapped">
        {% if mapped_products|length == 0%}
        <h2 class="text-center">No mapped products available in this session.</h2>
        {% else %}
        <table id="dt_mapped" class="table table-responsive table-hover" width="100%">
          <thead>
            <tr>

              <th>Concept</th>
              <th>Style ID</th>
              <th>Color Variant</th>
              <th>State</th>
              <th>QC Status</th>
              <th>Image Count</th>

              <th></th>

            </tr>
          </thead>
          <tbody>
            {% for item in mapped_products %}

            {% if item.field_draft.0.value == 0 %}

            {% if item.field_images | length == 0 %}
            {% set image_count_class = 'bold text-danger' %}
            {% elseif item.field_images | length >= 7 %}
            {% set image_count_class = 'bold text-warning' %}
            {% else %}
            {% set image_count_class = 'bold text-success' %}
            {% endif %}
            <tr>

              <td><img src="/{{ directory }}/images/brands/brand_logo_{{ item.field_concept_name.0.value|lower|replace({" ": ""}) }}.png" height="20px"></td>
              <td>{{ item.field_style_family.0.value }}</td>
              <td>{{ item.field_color_variant.0.value }}</td>
              <td>
                {% if item.nid.0. value in session.field_reshoot_product | json_encode() %}
                <span class="text-warning semi-bold">Reshoot</span>
                {% else %}
                <span class="text-success semi-bold">New</span>
                {% endif %}
              </td>
              <td>
                <span class="label label-warning">Pending</span>
              </td>
              <td class="{{ image_count_class }}">{{ item.field_images|length }}</td>

              <td class="text-align-center">
                <a target="_blank" class="btn btn-xs" href="/view-product/{{item.nid.0.value }}">View</a>
                <a target="_blank" class="btn btn-xs" href="/view-pdp/{{item.nid.0.value }}">View PDP</a>
              </td>



            </tr>
            {% endif %}
            {% endfor %}

          </tbody>
        </table>

        {% endif %}
      </div>

      <div class="tab-pane" id="tab-unmapped">
        {% if unmapped_products|length == 0%}
        <h2 class="text-center">No unmapped products available in this session.</h2>
        {% else %}
        <table id="dt_unmapped" class="table table-responsive table-hover" width="100%">
          <thead>
            <tr>
              <th>Concept</th>
              <th>Identifier</th>
              <th>State</th>
              <th>Image Count</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            {% for item in unmapped_products %}
            {% if item.field_draft.0. value == 0 %}

            {% if item.field_images | length == 0 %}
            {% set image_count_class = 'bold text-danger' %}
            {% elseif item.field_images | length >= 7 %}
            {% set image_count_class = 'bold text-warning' %}
            {% else %}

            {% set image_count_class = 'bold text-success' %}
            {% endif %}
            <tr id="tr-product-{{item.nid.0.value }}">
              <td>Not Available</td>
              <td>{{ item.title.0.value }}</td>
              <td>
                {% if item.nid.0. value in session.field_reshoot_product | json_encode() %}
                <span class="text-warning semi-bold">Reshoot</span>
                {% else %}
                <span class="text-success semi-bold">New</span>
                {% endif %}
              </td>
              <td class="{{ image_count_class }}">{{ item.field_images|length }}</td>

              <td class="text-align-center">
                <a target="_blank" class="btn btn-xs" href="/view-product/{{item.nid.0.value }}">View</a>

              </td>
              {% if  session.field_status.0.value == 'open' %}
              <td class="text-align-center">
                <a class="btn btn-xs studio-product-drop" data-id="{{item.nid.0.value }}">Drop Product</a>
              </td>
              {% endif %}
            </tr>
            {% endif %}
            {% endfor %}

          </tbody>
        </table>
        {% endif %}
      </div>

      <div class="tab-pane" id="tab-dropped">

        <table id="dt_drops" class="table table-responsive table-hover" width="100%">

          <thead>
            <tr>
              <th>Concept</th>
              <th>Color Variant</th>
              <th>Identifier</th>
              <th>State</th>
              <th>Image Count</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in drops %}

            {% if item.image_count == 0 %}
            {% set image_count_class = 'bold text-danger' %}
            {% elseif item.image_count >= 7 %}
            {% set image_count_class = 'bold text-warning' %}
            {% else %}
            {% set image_count_class = 'bold text-success' %}
            {% endif %}
            <tr>
              <td>
                {% if item.concept|lower == 'unmapped' %}
                Not Available
                {% else %}
                <img src="/{{ directory }}/images/brands/brand_logo_{{ item.concept|lower|replace({" ": ""}) }}.png" height="20px">
                {% endif %}
              </td>
              <td>{{ item.colorvariant }}</td>
              <td>{{ item.identifier }}</td>
              <td>
                <span class="text-danger semi-bold">Dropped</span>

              </td>
              <td class="{{ image_count_class }}">{{ item.field_images|length }}</td>

              <td class="text-align-center">
                <a target="_blank" class="btn btn-xs" href="/view-product/{{item.nid}}">View</a>
              </td>
              <td class="text-align-center">
                <a target="_blank" class="btn btn-xs" href="/view-product/{{item.nid}}">Undo</a>
              </td>

            </tr>

            {% endfor %}


          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="tab-reports">

        {% if session.field_status.0.value == 'open' %}
        <div class="alert alert-warning">
            This session is still open. Shoot list might not be exhaustive until session is closed.

        </div>
        {% endif %}

        {% for item in grouped_concepts %}
        <div class="col-md-6">

          <div class="profile-image">
            <img src="/themes/studiobridge/images/excel.png" class="m-b-md" alt="profile">
          </div>
          <div class="profile-info">
            <div class="">
              <div>
                <h2 class="m-t-sm">
                  {{item.concept|title}} Shoot List
                </h2>

                <small>

                  <a href="/session-shootlist/{{session.nid.0.value}}/products/{{item.concept|title}}" class="btn">Download</a>
                </small>

              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% if unmapped_products|length > 0%}
        <div class="col-md-6">

          <div class="profile-image">
            <img src="/themes/studiobridge/images/excel.png" class="m-b-md" alt="profile">
          </div>
          <div class="profile-info">
            <div class="">
              <div>
                <h2 class="m-t-sm">
                  Unmapped Shoot List
                </h2>

                <small>

                  <a href="/session-shootlist/{{session.nid.0.value}}/unmapped_products/0" class="btn">Download</a>
                </small>

              </div>
            </div>
          </div>
        </div>
        {% endif %}



      </div>

      <div class="tab-pane" id="tab-analysis">

        <div class="col-lg-12">

          {% for item in period %} "{{ item.time }}", {% endfor %}
          {% for item in period %} "{{ item.nid }}", {% endfor %}
          <div class=" flot-chart chart-responsive text-center " >
              <canvas id="uploadTrendsChart" class="flot-chart-content"></canvas>
          </div>
          <div id="uploadTrendLegend" class="chart-legend"></div>
        </div>


      </div>

    </div>

  </div>

</div>

<script>


(function ($) {

var lineChartCanvas = document.getElementById("uploadTrendsChart").getContext("2d");
var lineChart = new Chart(lineChartCanvas);

var lineChartData = {
  labels: [{% for item in period %} "{{ item.nid }}", {% endfor %}],
  datasets: [
    {
      label: "Time per Product",
        fillColor: "rgba(220,220,220,0.5)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
      data: [{% for item in period %} "{{ item.time }}", {% endfor %}],
    }
  ]
};

var lineChartOptions = {
  //Boolean - If we should show the scale at all
    showScale: true,
    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines: true,
    //String - Colour of the grid lines
    scaleGridLineColor: "rgba(0, 0, 0,.05)",
    //Number - Width of the grid lines
    scaleGridLineWidth: 1,
    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,
    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,
    //Boolean - Whether the line is curved between points
    bezierCurve: true,
    //Number - Tension of the bezier curve between points
    bezierCurveTension: 0.4,
    //Boolean - Whether to show a dot for each point
    pointDot: true,
    //Number - Radius of each point dot in pixels
    pointDotRadius: 3,
    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth: 1,
    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius: 20,
    //Boolean - Whether to show a stroke for datasets
    datasetStroke: true,
    //Number - Pixel width of dataset stroke
    datasetStrokeWidth: 2,
    //Boolean - Whether to fill the dataset with a color
    datasetFill: true,
    //String - A legend template
    //Boolean - whether to make the chart responsive to window resizing
    responsive: true
};

//Create the line chart
uploadTrend = lineChart.Line(lineChartData, lineChartOptions);

$("#tab-analysis-tab").click(function () {
    //uploadTrend.destroy();
    var uploadTrend = lineChart.Line(lineChartData, lineChartOptions);
});

}(jQuery));
</script>
