
<div class="row">
  <div class="col-sm-12">
    <h3 class="no-margins p-b-sm">Add New Container</span></h3>
    <h4 class="no-margins">Create a new container by filling out all the details below</h4>
  </div>
</div>
<hr class="simple">

<div class="panel panel-default">
{{kint()}}
<form>
  {{ form.form_build_id }}
  {{ form.form_id }}
  {{form.form_token}}
  <div class="panel-body">
    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12 m-l-n">
     <!-- <div class="col-sm-6 m-b-10">
      </div> -->
      <div class="col-sm-6 m-b-10">
        {{form.title}}
      </div>
      <br>
      <div class="col-sm-6 m-b-10">
        {{form.field_received_by}}
      </div>
      <br>
      <div class="col-sm-6 m-b-10">
        {{form.field_received_date}}
      </div>
      <br>
      <div class="col-sm-6 m-b-10">
        {{form.field_expected_quantity}}
      </div>

      <div class="col-sm-12 m-t-10">
          <button type="submit"   class="btn btn-complete">Create</button>
      </div>

    </div>


  </div>
</form>
</div>
