
<div class="login-wrapper" id="login-page">


    <div class="login-container bg-login">

        <div class="p-t-50 ">
            <!-- <img src="/{{ directory }}/images/Drawing.png"> -->
             <img src="/{{ directory }}/images/CC_logo-black.png" alt="Studio Bridge" style="width: 250px; padding-bottom: 50px;">


            <div id="form-login" class="p-t-15 login-form" role="form" action="?ls" method="post" name="ls">
              {{ form.form_build_id }}
              {{ form.form_id }}



            <h5 class="login-signin">Forgot Password</h5>



            <div class="row">
                <div class="col-md-12">
                    <p>Enter your Landmarkgroup email ID or Username and we'll send you instructions to reset your password</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{form.name|without()}}
            </div>

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-cons m-t-10 full-width" type="submit">Reset</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="/user/login" class="text-complete small">Return to Sign in</a>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>
