{% block content %}
<div class="login-wrapper" id="login-page">


    <div class="login-container bg-login">
        <div class="p-t-50 ">
            <!-- <img src="/{{ directory }}/images/Drawing.png"> -->
             <img src="/{{ directory }}/images/CC_logo-black.png" alt="" style="width: 250px; padding-bottom: 50px;">


            <div id="form-login" class="p-t-15 login-form" role="form" action="?ls" method="post" name="ls">
                        {{ form.form_build_id }}
                        {{ form.form_id }}


            <h5 class="login-signin">Sign into your account</h5>
                        {{ form.name }}
                        {{ form.pass }}

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-cons m-t-10 full-width" type="submit">Sign In</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="/user/password" class="text-complete small">Forgot your password?</a>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>
{% endblock %}
