{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

<aside id="left-panel">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="http://www.themeboutique.com/dawn/sites/all/themes/dawn/logo.png" alt="DAWN"> </span> <br>
        <h2 class="text-white text-center">DAWN</h1>
        <!-- END LOGO PLACEHOLDER -->
    <nav class="sbnav">
    <ul>
        {{ menus.menu_links(items, attributes, 0) }}
        {% macro menu_links(items, attributes, menu_level) %}
            {% import _self as menus %}

            {% if items %}


                {% for item in items %}

                    {% if item.title|lower == 'dashboard' %}

                        {% set icon_class = 'fa fa-lg sl-screen-desktop' %}

                    {% elseif item.title|lower == 'product information' %}

                        {% set icon_class = 'fa fa-lg fa-cubes' %}
                    {% elseif item.title|lower == 'warehouse desk' %}

                        {% set icon_class = 'fa fa-lg fa-truck' %}
                    {% elseif item.title|lower == 'qc desk' %}

                        {% set icon_class = 'fa fa-lg fa-check-square' %}
                    {% elseif item.title|lower == 'settings' %}

                        {% set icon_class = 'fa fa-lg fa-gears' %}
                    {% elseif item.title|lower == 'beta items' %}

                        {% set icon_class = 'fa fa-lg fa-leaf' %}
                    {% else %}

                        {% set icon_class = '' %}

                    {% endif %}

                    {% if item.below|length > 0 %} {#has children#}
                    <li{{ item.attributes }} {% if item.in_active_trail %} class="active" {% endif %}>
                        <a href="#">

                            <i class="{{ icon_class }}"></i>
                            <span class="menu-item-parent">{{ item.title }}</span>
                            {#<b class="collapse-sign"><em class="sl-arrow-left"></em></b>#}
                        </a>
                    {% elseif item.in_active_trail %}
                        <li class="active">

                        <a href="{{ item.url }}">
                            <i class="{{ icon_class }}"></i>
                           <span>{{ item.title }}</span>

                        </a>
                    {% else %}
                        <li{{ item.attributes }} {% if item.in_active_trail %} class="active" {% endif %}>
                        <a href="{{ item.url }}" >

                            <i class="{{ icon_class }}"></i>
                            <span class="menu-item-parent">{{ item.title }}</span>

                        </a>
                    {% endif %}

                    {% if item.below %}
                        <ul class="children" >
                            {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}
                        </ul>
                    {% endif %}
                    </li>

                {% endfor %}

            {% endif %} {#end if items#}

        {% endmacro %}


  <div class="userlogged clearfix">
    <li class="account">
        <a class="account">
          <img src="/themes/studiobridge/images/users/{{ user.account.name|lower|replace({".": "_" , " " : "_"}) }}.jpg" alt="me" class="img-circle ">
          <div class="pull-left p-r-10 p-t-5 m-l-10 font-heading">
              <span class="semi-bold">{{ user.account.name|title|replace({".": " " , "_" : " "}) }}<br>
              <span class="text-master">{{ user.roles.1|title|replace({".": " " , "_" : " "}) }}</span>
          </div>
</a>

<ul class="children" style="display: none;">
    <li>

        <a href="/user/{{user.id}}/edit"><i class="fa fa-user fw"></i> <span class=
        "menu-item-parent">My Profile</span></a>
    </li>
    <li>

        <a href="/user/logout"><i class="fa fa-sign-out fw"></i><span class=
        "menu-item-parent">Sign out</span></a>
    </li>
</ul>
    </li>

  </div>

</ul>
</nav>



</aside>
